<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>25/17</title>
    <link rel="stylesheet" href="../static/css/styles_25_17.css">

</head>
<body>
	<div class="wrapper">
		<div class="header"><h1>Группа<spam> 25/17</spam></h1></div>
		<div class="content">
					<h2 id="about">О группе 25/17</h2>
					<p>
						Группа «Иезекииль 25:17» была создана в 2002 году в Омске, как сольный проект Андрея Бледного, экс-участника омской рэп-группы «Ртуть». Название происходит от библейского стиха из книги ветхозаветного пророка Иезекииля (глава 25: стих 17), который цитирует персонаж Сэмюэля Л. Джексона в фильме «Криминальное чтиво».
					</p>
					<div>
							<blockquote>
								<p>
									«Причины для выбора имени группы было три. Первая: мы взяли отличный отрывок из Библии, причём, для меня это — слова о любви, которую Бог проявляет к нам. И сейчас у каждого есть шанс узнать о Нём, не испытывая Его гнев. Вторая — фильм «Криминальное чтиво», где этот отрывок цитируется, правда, в искажённом варианте. А третья причина в том, что те слова из фильма любимая нами группа Cypress Hill использовала в своем треке «Make a move».»
								</p>
							</blockquote>
						<a href="gallery.html#blednyi"><div class="autor">Бледный</div></a>
					</div>
					<h2 id="history">История</h2>
					<p>
						2 декабря 2002 года в Омске состоялось первое выступление «Иезекииль 25:17». А дебютный альбом «Честное слово третьего подземелья» вышел в 2004 году при поддержке лейбла группы «Многоточие» — Dots Family Records. В этом проекте приняли участие представители независимого русского рэпа, объединённые схожими взглядами на творчество.
					</p>
					<p>
						В 2005 году в состав группы вошла певица Тома Амот. А 1 апреля 2006 года к «Иезекииль 25:17» присоединился Ант, на тот момент ещё участник группы «Отрицательное Влияние». Его приход в группу повлёк за собой изменение в звучании — музыкальный рисунок значительно усложнился и усовершенствовался, стал более мелодичным.
					</p>
					<p>
						В июле 2008 года группа выпускает второй альбом «Засада. Крепче стали», нечто вроде официальной компиляции артистов лейбла «Засада Production» и их единомышленников. В октябре Анта приглашают принять участие в шоу о хип-хопе «Битва за респект» на канале Муз ТВ, и по итогам зрительского голосования на сайте Rap.ru он становится победителем. Беспрецедентный телерейтинг первой «Битвы за респект» вкупе с действительно удачными треками, представленными в телеэфире, значительно расширили аудиторию группы.
					</p>
					<P>		
						В конце 2008 года группа при участии DJ Navvy выпускает микстейп «Сплавы», в который вошли ремиксы, от приближенных к группе музыкантов, на треки с альбома «Засада. Крепче стали», также материал, не вошедший в этот альбом, совместные треки и эксклюзив, записанный специально для этого микса.
					</P>
					<p>
						Весной 2009 года по совету экс-продюсера «Касты» Аркадия Слуцковского группа сокращает название до «25:17», однако вместо двоеточия разделителем стала косая черта из-за того, что в то время стала популярна группа «23:45»; также радио и телеведущим было трудно выговаривать название группы. Тогда же был записан третий, а по мнению участников — первый полноценный альбом «Только для своих». В работе не принимала участие Тома Амот, начавшая сольную карьеру. Альбом вошёл в тройку лучших альбомов года по результатам голосований на тематических сайтах.
					</p>
					<p>
						В этом же году группа участвует в альбоме-посвящению Виктору Цою — «КИНОпробы. Рэп-трибьют», записав кавер-версию на «Мама, мы все тяжело больны». На этот трек был снят видеоклип с Александром Башировым в главной роли, который вновь сыграл афериста Спартака из кинофильма «Игла».
					</p>
					<p>					
						В сентябре 2010 года был закрыт лейбл «Засада Production — Западно-сибирский дом хип-хопа», объединявший ряд артистов из Омска и Москвы: «25/17», «Сибирский Синдикат», «Отрицательное Влияние», D-MAN 55, «Идефикс», «Сангу дэ Сао», «Дэфолиант» и «ГРОТ». Этот лейбл начал свою историю в 1998 году, как объединение рэп-групп из Омска. Идея рэп-формирования принадлежит Андрею Бледному, на тот момент участнику группы «Ртуть». Со временем эта инициатива переросла в большее — «ЗАСАДА» перешла в статус промогруппы, начавшая заниматься организацией фестивалей, концертов и гастролей.
					</p>
					<div>
						<blockquote>
							<p>
								«Мы приняли это решение ещё в мае. За прошедшие месяцы у нас было время подумать. Мы закрываем лейбл ЗАСАДА production. 2010 год — финальный. Мы благодарны всем, кто поддерживал нас и помогал нам все эти годы.»
							</p>
						</blockquote>
						<a href="gallery.html#blednyi"><div class="autor">Бледный</div></a>
					</div>
					<p>
						В конце 2010 года группа выпускает второй альбом под названием «Зебра», в котором поучаствовали MC 1.8 и Тома Амот. До этого у каждого из участников коллектива вышел сольный мини-альбом, «Полоса белая» — Анта, и Полоса чёрная — Бледного.
					</p>
					<p>
						6 сентября 2011 года выходит мини-альбом «Межсезонье», в записи которого приняли участие несколько приглашённых музыкантов: Дмитрий Ревякин (группа «Калинов мост»), Карандаш, D-MAN 55, МС 1.8, Саграда (группа «Соль Земли») и Миша Маваши.
					</p>
					<p>
						1 января 2012 года Андрей Бледный рассказал в своем ЖЖ, что новый альбом от группы «25/17» появится в марте и будет носить название «Песни о Любви и Смерти». Однако для улучшения звучания альбом доверили свести студии «Wolk Recordings» в Риге, соответственно дата выпуска перенеслась. 11 апреля 2012 года группа выпускает третий альбом — «Песни о Любви и Смерти».
					</p>
					<p>
						30 октября 2012 года песня «Будь белым» попала в федеральный список экстремистских материалов решением Эжвинского районного суда г. Сыктывкара.
					</p>
					<p>		
						В марте был представлен мини-альбом «Лукавые дни» на ресурсе iTunes. По окончании весеннего тура группа закончила с выступлениями и заверила, что никакого материала от «25/17» раньше 2014 года не будет.
					</p>
					<p>	
						24 июня 2013 года на ресурсе iTunes состоялся выпуск концертного альбома «Бортовой журнал (10 лет на волне. Live)». Вслед за этим, в конце июля «25/17» выпустила концертный фильм с таким же названием, который был снят на выступлении группы осенью 2012 года в клубе Milk, также в фильм вошло интервью группы и архивное видео. Режиссёром выступил Семён Шорохов, уже снимавший клипы для «25/17». Премьера фильма состоялась на телеканале A-One.
					</p>
					<p>
						С 1 сентября 2014 года группа выпускала по одному клипу в день, снятые на каждый из треков нового альбома «Русский подорожник». В съёмках клипов и записях песен приняли участие такие актёры, как Андрей Мерзликин, Денис Шведов, Зоя Бербер, Вадим Демчог, телеведущий и актёр Сергей Бадюк, писатель Захар Прилепин, а также известные музыканты Дмитрий Ревякин («Калинов мост»), Константин Кинчев («Алиса») и Антон «Пух» («F.P.G.»). Одним из режиссёров стал Александр Велединский, снявший фильм «Географ глобус пропил». Но большая часть работы принадлежит режиссёрам Юлии Ауг и Андрею Давыдовскому.
					</p>
					<p>						
						1 сентября 2015 года был выпущен мини-альбом «Пар», в который вошло 5 трэков.
					</p>
					<p>
						1 сентября 2016 года группы 25/17 и ГРОТ представляют новый мини-альбом под названием «Солнцу навстречу». В поддержку выпуска, за два дня до выпуска, был представлен одноименный видеоклип.
					</p>
					<p>	
						24 мая 2016 года песня «Линия фронта» попала в федеральный список экстремистских материалов решением Благовещенского городского суда.
					</p>
					<p>
						28 февраля 2017 года вышел студийный альбом группы «Умереть от счастья». На альбоме приняли участие Loc-Dog, Ёлка, Глеб Самойлов и другие. 15 сентября 2017 года состоялся релиз шестого студийного альбома под названием «Ева едет в Вавилон». Альбом состоит из 12 треков.
					</p>
					<h2 id="members">Состав</h2>
					<div>
						<ul>
							<a href="gallery.html#blednyi"><li>Бледный — рэп, идеи, текст (2002—наши дни)</li></a>
							<a href="gallery.html#ant"><li>Ант — вокал, рэп, бубен, идеи, аранжировки, текст (2006—наши дни)</li></a>
							<a href="gallery.html#kit"><li>Андрей «Кит» Чернышов (ex-МСК, ЮГ) — битмейкер, рэп (2017—наши дни)</li></a>
							<a href="gallery.html#solod"><li>Богдан Солодовник — бас-гитара (2012—наши дни)</li></a>
							<a href="gallery.html#rus"><li>Рустам Мунасипов — гитара (2014—наши дни)</li></a>
							<a href="gallery.html#max"><li>Максим Соколов — гитара (2015—наши дни)</li></a>
							<a href="gallery.html#tar"><li>Тарас Андреев — ударные (2012—наши дни)</li></a>
							<a href="gallery.html#mc"><li>Илья «DJ Navvy» Кузнецов (aka MC 1.8) — диджей (2007—наши дни)</li></a>
						</ul>
					</div>				
					<h2 id="discography">Дискография</h2>
					<h3>Номерные альбомы:</h3>
					<h4>
						25/17 «Только для своих» (2009)<br>
						25/17 «Зебра» (2010)<br>
						25/17 «Песни о Любви и Смерти» (2012)<br>
						25/17 «Русский подорожник» (2014)
					</h4>
					<h3>Мини-альбомы:</h3>
					<h4>
						25/17 и Грот «Сила сопротивления» (2010)<br>
						25/17 «Межсезонье» (2011/СD версия 2012)<br>
						25/17 «Лукавые дни» (2013)<br>
						25/17 «Обитель. 16 рота» Песни из спектакля (2015)<br>
						25/17 «Пар» (2015)
					</h4>
					<h3>Концертные альбомы:</h3>
					<h4>
						25/17 «Бортовой журнал (10 лет на волне. Live)» (2013)<br>
						25/17 «Русский подорожник. Концерт в Москве» (2015)<br>
						25/17 «Соль» Аудиоверсия программы «Соль» на канале РЕН ТВ (2015)<br>
						25/17 «Воздух» Концерт на НАШЕм Радио в программе «Воздух» (2016)
					</h4>
					<h3>Сборники:</h3>
					<h4>
						Бледный «Так была нада» (2005)<br>
						Тома Амот «Каникулы» (2008)<br>
						25/17 «На городской карте» (2009)<br>
						25/17 и FAQ «Моё оружие» (2009)<br>
						25/17 «Т.Д.С.» (2009)<br>
						25/17 «Собака»(2010)<br>
						25/17 «Никто не сможет меня остановить» (2010)<br>
						Бледный «Полоса черная» (2010)<br>
						Ант «Полоса белая» (2010)<br>
						25/17 «Огонь» (2011)
					</h4>
					<h3>Микстейпы:</h3>
					<h4>
						Иезекииль 25:17 «Жизнь У» (by DJ Navvy) (2007)<br>
						Иезекииль 25:17 «Сплавы» (by DJ Navvy) (2008)<br>
						Ант «Антрэпология» (2008)<br>
						Иезекииль 25:17 «Держитесь крепче» (by DJ Navvy) (2008)
					</h4>
					<a href="#">
						<img src="../static/images/arrow.png" alt="Верх" class="arrow">
					</a>
				</div>
		<div class="footer">
			<p>© 25/17</p>
		</div>
	</div>
  <div class="top-menu-wrapper">
    <ul class="top-menu ">
      <li><a href="index.html">Home</a></li>
      <li><a href="float.html">float</a></li>
      <li><a href="table.html">table</a></li>
      <li><a href="inline_block.html">inline-block</a></li>
      <li><a href="about.html">25/17</a>
        <ul>
          <li><a href="about.html#about">О группе 25/17</a></li>
          <li><a href="about.html#history">История</a></li>
          <li><a href="about.html#members">Состав</a>
            <ul>
              <li><a href="gallery.html#blednyi">Бледный</a></li>
              <li><a href="gallery.html#ant">Ант</a></li>
              <li><a href="gallery.html#kit">Кит</a></li>
              <li><a href="gallery.html#solod">Богдан Солодовник</a></li>
              <li><a href="gallery.html#rus">Рустам Мунасипов</a></li>
              <li><a href="gallery.html#max">Максим Соколов</a></li>
              <li><a href="">Тарас Андреев</a></li>
              <li><a href="gallery.html#mc">DJ Navvy</a></li>
            </ul>
          </li>
          <li><a href="about.html#discography">Дискография</a></li>
        </ul>
      </li>
      <li><a href="gallery.html">gallery</a></li>
    </ul>
  </div>

</body>
</html>