<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles_feedback.css">
    <title>FeedBack</title>
</head>

<body>
    <div class="wrapper">
        <h1>Форма обратной связи</h1>
        <form action="#kudato">
            <div class="select-box">
                <select>
                    <option>Вам все понравилось</option>
                    <option>Вам ничего не понравилось</option>
                    <option selected="">Что это?</option>
                </select>
            </div>
            <textarea id="main" placeholder="Напишите нам что-то приятное :)))"></textarea>
            <button class="buttom1">Отправить</button>
            <button class="buttom2" type="reset">Сброс</button>
            <input id="my1" name="qqq" type="radio">
            <label for="my1">Вариант 1</label>
            <input id="my2" name="qqq" type="radio">
            <label for="my2">Вариант 2</label>
            <input id="my3" name="qqq" type="radio" checked="">
            <label for="my3">Вариант 3</label>
            <input id="thumb" type="range" min="10" max="100" step="10" required="">
        </form>
    </div>
    <div class="footer"></div>
</body>

</html>