<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Float</title>
    <link rel="stylesheet" href="../static/css/styles_float.css">
</head>
<body>
  <div class="wrapper clear">
    <div id="infloat1" class="float">1</div>
    <div id="infloat2" class="float">2</div>
    <div id="infloat3" class="float">3</div>
    <div id="infloat4" class="float">4</div>
    <div id="infloat5" class="float">5</div>
    <div id="infloat6" class="float">6</div>
    <div class="float clear">
      <div id="infloat7" class="float">7</div>
      <div id="infloat8" class="float">8</div>
      <div id="infloat9" class="float">9</div>
    </div>
    <div class="float auxilary-float clear">
        <div id="infloat10" class="float">10</div>
        <div id="infloat11" class="float">11</div>
    </div>
    <div class="float auxilary-float clear">
      <div id="infloat12" class="float">12</div>
      <div id="infloat13" class="float">13</div>
      <div id="infloat14" class="float">14</div>
      <div id="infloat15" class="float">15</div>

    </div>
    <div id="infloat16" class="float">16</div>
    <div id="infloat17" class="float">17</div>
    <div id="infloat18" class="float">18</div>
    <div id="infloat19" class="float">19</div>
    <div id="infloat20" class="float">20</div>
    <div id="infloat21" class="float">21</div>
    <div id="infloat22" class="float">22</div>
    <div id="infloat23" class="float">23</div>
    <div id="infloat24" class="float">24</div>
    <div class="float auxilary-float clear">
        <div id="infloat25" class="float">25</div>
        <div id="infloat26" class="float">26</div>
        <div id="infloat27" class="float">27</div>
    </div>
    <div id="infloat28" class="float">28</div>
    <div id="infloat29" class="float">29</div>
    <div id="infloat30" class="float">30</div>
    <div id="infloat31" class="float">31</div>
    
  </div>
  <div style="color:aliceblue; width:1200px;
  height:100px; text-align: center; margin: 0 auto;
    font-size: 50px; background-color: black; padding-top: 30px;">
    <a href="index.html">Back</a>
  </div>
  <div class="top-menu-wrapper">
    <ul class="top-menu ">
      <li><a href="index.html">Home</a></li>
      <li><a href="float.html">float</a></li>
      <li><a href="table.html">table</a></li>
      <li><a href="inline_block.html">inline-block</a></li>
      <li><a href="about.html">25/17</a>
        <ul>
          <li><a href="about.html#about">О группе 25/17</a></li>
          <li><a href="about.html#history">История</a></li>
          <li><a href="about.html#members">Состав</a>
            <ul>
              <li><a href="gallery.html#blednyi">Бледный</a></li>
              <li><a href="gallery.html#ant">Ант</a></li>
              <li><a href="gallery.html#kit">Кит</a></li>
              <li><a href="gallery.html#solod">Богдан Солодовник</a></li>
              <li><a href="gallery.html#rus">Рустам Мунасипов</a></li>
              <li><a href="gallery.html#max">Максим Соколов</a></li>
              <li><a href="">Тарас Андреев</a></li>
              <li><a href="gallery.html#mc">DJ Navvy</a></li>
            </ul>
          </li>
          <li><a href="about.html#discography">Дискография</a></li>
        </ul>
      </li>
      <li><a href="gallery.html">gallery</a></li>
    </ul>
  </div>
     
</body>
</html>