<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles_25_17.css">
    <title>Gallery 25/17</title>
    
</head>
<body>
  <div class="wrapper">
    <div class="header"><h1>Группа<spam> 25/17</spam></h1></div>
    
    <div class="content">
      <div><h2 id="group">Учасники группы</h2></div>
      <div class="gallery">
        <div class="photo">
          <div class="photo-div">
            <img id="ant" src="../static/images/anton.jpg" alt="Антон Завьялов">
            <div class="img-wrapper"><p>Антон Завьялов</p></div>
          </div>
          <div class="photo-div">
            <img id="blednyi" src="../static/images/blednyi.jpg" alt="Андрей Позднухов">
            <div class="img-wrapper"><p>Андрей Позднухов</p></div>
          </div>
          <div class="photo-div">
            <img id="kit" src="../static/images/kit.jpg" alt="Андрей Чернышов">
            <div class="img-wrapper"><p>Андрей Чернышов</p></div>
          </div>
          <div class="photo-div">
            <img id="solod" src="../static/images/solod.jpg" alt="Богдан Солодовник">
            <div class="img-wrapper"><p>Богдан Солодовник</p></div>
          </div>
          <div class="photo-div">
            <img id="rus" src="../static/images/rus.jpg" alt="Рустам Мунасипов">
            <div class="img-wrapper"><p>Рустам Мунасипов</p></div>
          </div>
          <div class="photo-div">
            <img id="max" src="../static/images/max.jpg" alt="Максим Соколов">
            <div class="img-wrapper"><p>Максим Соколов</p></div>
          </div>
          <div class="photo-div">
            <img id="tar" src="../static/images/taras.jpg" alt="Тарас Андреев">
            <div class="img-wrapper"><p>Тарас Андреев</p></div>
          </div>
          <div class="photo-div">
            <img id="mc" src="../static/images/mc.jpg" alt="Илья «DJ Navvy» Кузнецов (aka MC 1.8)">
            <div class="img-wrapper"><p>Илья Кузнецов</p></div>
          </div>
        </div>
      </div>
      <a href="index.html"><div style="text-align:center"><p style="font-size: 30px;
        font-weight: 500" >На главную</p></div></a>
      
    </div>
    <div class="footer">
      <p>© 25/17</p>    
    </div>
  </div>
  <div class="top-menu-wrapper">
    <ul class="top-menu ">
      <li><a href="index.html">Home</a></li>
      <li><a href="float.html">float</a></li>
      <li><a href="table.html">table</a></li>
      <li><a href="inline_block.html">inline-block</a></li>
      <li><a href="about.html">25/17</a>
        <ul>
          <li><a href="about.html#about">О группе 25/17</a></li>
          <li><a href="about.html#history">История</a></li>
          <li><a href="about.html#members">Состав</a>
            <ul>
              <li><a href="gallery.html#blednyi">Бледный</a></li>
              <li><a href="gallery.html#ant">Ант</a></li>
              <li><a href="gallery.html#kit">Кит</a></li>
              <li><a href="gallery.html#solod">Богдан Солодовник</a></li>
              <li><a href="gallery.html#rus">Рустам Мунасипов</a></li>
              <li><a href="gallery.html#max">Максим Соколов</a></li>
              <li><a href="">Тарас Андреев</a></li>
              <li><a href="gallery.html#mc">DJ Navvy</a></li>
            </ul>
          </li>
          <li><a href="about.html#discography">Дискография</a></li>
        </ul>
      </li>
      <li><a href="gallery.html">gallery</a></li>
    </ul>
  </div>
  
    
</body>
</html>