<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inline-block</title>
    <link rel="stylesheet" href="../static/css/styles_inline_block.css">
</head>
<body>
  <div class="wrapper">
    <div class="inline-block">
      <div id="block1" class="in_inline">1</div>
      <div id="block2" class="in_inline">2</div>
      <div id="block3" class="in_inline">3</div>
    </div>
    <div class="inline-block">
      <div id="block4" class="in_inline">4</div>
      <div class="in_inline">
        <div id="block5" >5</div>
        <div id="block6" >6</div>
      </div>
      
    </div>
    <div class="inline-block">
        <div class="in_inline">
            <div id="block7" class="in-inline">7</div>
            <div id="block8" class="in-inline">8</div>
            <div id="block9" class="in-inline">9</div>

        </div>
        <div style="width: 800px" class="in_inline">
          <div id="block10" class="in-inline">10</div>
          <div id="block11" class="in-inline">11</div>
        </div>

    </div>
    <div class="inline-block">
        <div style="width: 800px" class="in_inline">
            <div style="width: 800px" id="block12" class="in_inline">12</div>
            <div style="width: 800px; height: 133.33px; font-size: 0;" class="in_inline">
                <div id="block13" class="in_inline">13</div>
                <div id="block14" class="in_inline">14</div>
                <div id="block15" class="in_inline">15</div>
            </div>

        </div>
        <div class="in_inline">
            <div id="block16" class="in_inline">16</div>
            <div id="block17" class="in_inline">17</div>
        </div>

    </div>
    <div class="inline-block">
      <div id="block18" class="in_inline">18</div>
      <div id="block19" class="in_inline">19</div>
      <div class="in_inline">
          <div id="block20" class="in_inline">20</div>
          <div style="height: 200px; width: 400px; font-size: 0" class="in_inline">
              <div id="block21" class="in_inline">21</div>
              <div style="height: 200px; width: 200px; font-size: 0" class="in_inline">
                <div id="block22" class="in_inline">22</div>
                <div style="height: 100px; width: 200px; font-size: 0" class="in_inline">
                    <div id="block23" class="in_inline">23</div>
                    <div id="block24" class="in_inline">24</div>
                </div>
              </div>
          </div>
      </div>
    </div>
    <div class="inline-block">
      <div style="width: 800px;" class="in_inline">
        <div style="width: 800px; height: 200px; display: inline-block; font-size: 0;" class="in_inline">
          <div id="block25" class="in_inline">25</div>
          <div id="block26" class="in_inline">26</div>
        </div>
        <div id="block27" class="in_inline">27</div>
      </div>
      <div id="block28" class="in_inline">28</div>


    </div>
    <div class="inline-block">
      <div id="block29" class="in_inline">29</div>
      <div id="block30" class="in_inline">30</div>
      <div id="block31" class="in_inline">31</div>
    </div>
    <a href="index.html"><div style="  color:aliceblue; width:100px; padding: 30px; text-align: center; margin: 0 auto;
      font-size: 50px;">Back</div></a>
  </div>
 
  <div class="top-menu-wrapper">
    <ul class="top-menu ">
      <li><a href="index.html">Home</a></li>
      <li><a href="float.html">float</a></li>
      <li><a href="table.html">table</a></li>
      <li><a href="inline_block.html">inline-block</a></li>
      <li><a href="about.html">25/17</a>
        <ul>
          <li><a href="about.html#about">О группе 25/17</a></li>
          <li><a href="about.html#history">История</a></li>
          <li><a href="about.html#members">Состав</a>
            <ul>
              <li><a href="gallery.html#blednyi">Бледный</a></li>
              <li><a href="gallery.html#ant">Ант</a></li>
              <li><a href="gallery.html#kit">Кит</a></li>
              <li><a href="gallery.html#solod">Богдан Солодовник</a></li>
              <li><a href="gallery.html#rus">Рустам Мунасипов</a></li>
              <li><a href="gallery.html#max">Максим Соколов</a></li>
              <li><a href="">Тарас Андреев</a></li>
              <li><a href="gallery.html#mc">DJ Navvy</a></li>
            </ul>
          </li>
          <li><a href="about.html#discography">Дискография</a></li>
        </ul>
      </li>
      <li><a href="gallery.html">gallery</a></li>
    </ul>
  </div>
    
</body>
</html>
