<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles_table.css">
    <title>Table</title>
</head>
<body>
    <div class="wrapper">
      <div class="table">
        <div id="cell1" class="table-cell">1</div>
        <div id="cell2" class="table-cell">2</div>
        <div id="cell3" class="table-cell">3</div>
      </div>
      <div class="table">
          <div id="cell4" class="table-cell">4</div>
          <div class="table-cell">
              <div>
                <div id="cell5" class="table-cell">5</div></div>
              <div id="cell6">
                <div id="cell6" class="table-cell">6</div>
              </div>
          </div>
      </div>
      <div class="table">
        <div class="table-cell">
          <div>
            <div id="cell7" class="table-cell">7</div>
          </div>
          <div>
            <div id="cell8" class="table-cell">8</div>
          </div>
          <div>
            <div id="cell9" class="table-cell">9</div>
          </div>
        </div>
        <div style="width:800px" class="table-cell">
          <div>
            <div id="cell10" class="table-cell">10</div>
           </div>
           <div>
            <div id="cell11" class="table-cell">11</div>
            </div>
        </div>
      </div>
      <div class="table">
        <div style="width: 800px;" class="table-cell">
            <div>
              <div id="cell12" class="table-cell">12</div>
            </div>
            <div>
              <div>
                <div id="cell13" class="table-cell">13</div>
                <div id="cell14" class="table-cell">14</div>
                <div id="cell15" class="table-cell">15</div>
              </div>
            </div>
            
        </div>
        <div class="table-cell">
            <div>
              <div id="cell16" class="table-cell">16</div>
            </div>
            <div>
              <div id="cell17" class="table-cell">17</div>
            </div>
        </div>      
      </div>
      <div class="table">
          <div id="cell18" class="table-cell">18</div>
          <div id="cell19" class="table-cell">19</div>
          <div class="table-cell">
            <div>
              <div id="cell20" class="table-cell" >20</div>
            </div>
            <div>
                <div id="cell21" class="table-cell" >21</div>
                <div style="height: 200px;
                width: 200px" class="table-cell">
                  <div>
                    <div id="cell22" class="table-cell">22</div>
                  </div>
                  <div>
                    <div id="cell23" class="table-cell">23</div>
                    <div id="cell24" class="table-cell">24</div>
                  </div>
                </div>
            </div>
          </div>
      </div>
      <div class="table">
        <div style="width:800px" class="table-cell">
            <div>
              <div>
                <div id="cell25" class="table-cell">25</div>
                <div id="cell26" class="table-cell">26</div>
              </div>
            </div>
            <div>
              <div id="cell27" class="table-cell">27</div>
            </div>

        </div>
        <div id="cell28" class="table-cell">28</div>
      </div>
      <div class="table">
        <div id="cell1" class="table-cell">29</div>
        <div id="cell2" class="table-cell">30</div>
        <div id="cell3" class="table-cell">31</div>
      </div>
      <a href="index.html"><div style="  color:aliceblue; width:100px; padding: 30px; text-align: center; margin: 0 auto;
        font-size: 50px;">Back</div></a>
    </div> 
    <div class="top-menu-wrapper">
      <ul class="top-menu ">
        <li><a href="index.html">Home</a></li>
        <li><a href="float.html">float</a></li>
        <li><a href="table.html">table</a></li>
        <li><a href="inline_block.html">inline-block</a></li>
        <li><a href="about.html">25/17</a>
          <ul>
            <li><a href="about.html#about">О группе 25/17</a></li>
            <li><a href="about.html#history">История</a></li>
            <li><a href="about.html#members">Состав</a>
              <ul>
                <li><a href="gallery.html#blednyi">Бледный</a></li>
                <li><a href="gallery.html#ant">Ант</a></li>
                <li><a href="gallery.html#kit">Кит</a></li>
                <li><a href="gallery.html#solod">Богдан Солодовник</a></li>
                <li><a href="gallery.html#rus">Рустам Мунасипов</a></li>
                <li><a href="gallery.html#max">Максим Соколов</a></li>
                <li><a href="">Тарас Андреев</a></li>
                <li><a href="gallery.html#mc">DJ Navvy</a></li>
              </ul>
            </li>
            <li><a href="about.html#discography">Дискография</a></li>
          </ul>
        </li>
        <li><a href="gallery.html">gallery</a></li>
      </ul>
    </div>
</body>
</html>